body {
    background-color: #f0f8ff; /* Cor de fundo */
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px;
}

.navbar {
    background-color: #007bff; /* Cor da navbar */
    padding: 10px;
}

.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}